Polysol.Comercial.WebApp/Polysol.Comercial.WebApp/Service References/AccesoService/SoftEmpAcceso32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Filasur.AppCorp.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Filasur.AppCorp.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Credencial">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CredencialId" type="xs:int" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartamentoDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaBloqueo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FlgBloqueo" type="xs:boolean" />
      <xs:element minOccurs="0" name="FlgSesionAlias" type="xs:boolean" />
      <xs:element minOccurs="0" name="NombrePersonal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PuestoDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sede" nillable="true" type="tns:Sede" />
      <xs:element minOccurs="0" name="SedeId" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioRed" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credencial" nillable="true" type="tns:Credencial" />
  <xs:complexType name="Sede">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" type="xs:int" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="tns:Empresa" />
      <xs:element minOccurs="0" name="EmpresaId" type="xs:int" />
      <xs:element minOccurs="0" name="InicialSede" type="xs:int" />
      <xs:element minOccurs="0" name="NombreSede" type="xs:int" />
      <xs:element minOccurs="0" name="SedeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sede" nillable="true" type="tns:Sede" />
  <xs:complexType name="Empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbrevEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpresaId" type="xs:int" />
      <xs:element minOccurs="0" name="EsEntidad" type="xs:boolean" />
      <xs:element minOccurs="0" name="ImgLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroRuc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa" nillable="true" type="tns:Empresa" />
  <xs:complexType name="ArrayOfNodo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Nodo" nillable="true" type="tns:Nodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNodo" nillable="true" type="tns:ArrayOfNodo" />
  <xs:complexType name="Nodo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsEstandar" type="xs:boolean" />
      <xs:element minOccurs="0" name="FlgIntegrado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Icono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodoId" type="xs:int" />
      <xs:element minOccurs="0" name="NodoPadre" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="Software" nillable="true" type="tns:Software" />
      <xs:element minOccurs="0" name="SoftwareId" type="xs:int" />
      <xs:element minOccurs="0" name="TipoNodoId" type="xs:int" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Nodo" nillable="true" type="tns:Nodo" />
  <xs:complexType name="Software">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="tns:Empresa" />
      <xs:element minOccurs="0" name="EmpresaId" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoftwareId" type="xs:int" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Software" nillable="true" type="tns:Software" />
  <xs:complexType name="Rol">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abreviatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rol" nillable="true" type="tns:Rol" />
</xs:schema>