Polysol.Comercial.WebApp/Polysol.Comercial.WebApp/Service References/AccesoService/SoftEmpAcceso1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SoftEmpAcceso" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.10.16/ServicioWeb/SoftEmpAcceso.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.10.16/ServicioWeb/SoftEmpAcceso.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.10.16/ServicioWeb/SoftEmpAcceso.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Filasur.AppCorp.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISoftEmpAcceso_ObtenerCredencial_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCredencial" />
  </wsdl:message>
  <wsdl:message name="ISoftEmpAcceso_ObtenerCredencial_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCredencialResponse" />
  </wsdl:message>
  <wsdl:message name="ISoftEmpAcceso_ValidaAcceso_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaAcceso" />
  </wsdl:message>
  <wsdl:message name="ISoftEmpAcceso_ValidaAcceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaAccesoResponse" />
  </wsdl:message>
  <wsdl:message name="ISoftEmpAcceso_ObtenerNodos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNodos" />
  </wsdl:message>
  <wsdl:message name="ISoftEmpAcceso_ObtenerNodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNodosResponse" />
  </wsdl:message>
  <wsdl:message name="ISoftEmpAcceso_ObtenerRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRol" />
  </wsdl:message>
  <wsdl:message name="ISoftEmpAcceso_ObtenerRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISoftEmpAcceso_CambiarPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarPassword" />
  </wsdl:message>
  <wsdl:message name="ISoftEmpAcceso_CambiarPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="ISoftEmpAcceso">
    <wsdl:operation name="ObtenerCredencial">
      <wsdl:input wsaw:Action="http://tempuri.org/ISoftEmpAcceso/ObtenerCredencial" message="tns:ISoftEmpAcceso_ObtenerCredencial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISoftEmpAcceso/ObtenerCredencialResponse" message="tns:ISoftEmpAcceso_ObtenerCredencial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaAcceso">
      <wsdl:input wsaw:Action="http://tempuri.org/ISoftEmpAcceso/ValidaAcceso" message="tns:ISoftEmpAcceso_ValidaAcceso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISoftEmpAcceso/ValidaAccesoResponse" message="tns:ISoftEmpAcceso_ValidaAcceso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerNodos">
      <wsdl:input wsaw:Action="http://tempuri.org/ISoftEmpAcceso/ObtenerNodos" message="tns:ISoftEmpAcceso_ObtenerNodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISoftEmpAcceso/ObtenerNodosResponse" message="tns:ISoftEmpAcceso_ObtenerNodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISoftEmpAcceso/ObtenerRol" message="tns:ISoftEmpAcceso_ObtenerRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISoftEmpAcceso/ObtenerRolResponse" message="tns:ISoftEmpAcceso_ObtenerRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ISoftEmpAcceso/CambiarPassword" message="tns:ISoftEmpAcceso_CambiarPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISoftEmpAcceso/CambiarPasswordResponse" message="tns:ISoftEmpAcceso_CambiarPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISoftEmpAcceso" type="tns:ISoftEmpAcceso">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerCredencial">
      <soap:operation soapAction="http://tempuri.org/ISoftEmpAcceso/ObtenerCredencial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaAcceso">
      <soap:operation soapAction="http://tempuri.org/ISoftEmpAcceso/ValidaAcceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerNodos">
      <soap:operation soapAction="http://tempuri.org/ISoftEmpAcceso/ObtenerNodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRol">
      <soap:operation soapAction="http://tempuri.org/ISoftEmpAcceso/ObtenerRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarPassword">
      <soap:operation soapAction="http://tempuri.org/ISoftEmpAcceso/CambiarPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoftEmpAcceso">
    <wsdl:port name="BasicHttpBinding_ISoftEmpAcceso" binding="tns:BasicHttpBinding_ISoftEmpAcceso">
      <soap:address location="http://192.168.10.16/ServicioWeb/SoftEmpAcceso.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>